<h1>Welcome to Logger!</h1>
<p>This app keeps count of how many times you have logged into Logger</p>
<%= link_to 'Sign in', new_user_session_path %> 
<%= link_to 'Sign up', new_user_registration_path %> 